<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html lang="en">
<head>
<title>Ordering Form Flat Responsive widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Ordering Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->
<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<!-- /font files -->
<!-- css files -->
<!-- <link href="css/style.css" rel='stylesheet' type='text/css' media="all" /> -->
<!-- /css files -->
</head>
<body>
<h1 class="header-agileits w3layouts w3 w3l agileinfo"><a href="https://github.com/csterryliu/Legal-Attest-Letter-Generator-TW" target="_blank">台灣郵局存證信函產生器</a></h1>
<div class="content-w3ls">
	<%= form_tag generate_pdf_welcome_index_path do %>
		<div class="form-wthree1 wthree w3-agileits agileits-w3layouts agile w3-agile">

			<div class="form-control">
				<label class="header">寄件人姓名<span>:</span></label>
				<input type="text" id="senderName" name="senderName" placeholder="" title="">
			</div>

			<div class="form-control">
				<label class="header">寄件人詳細地址<span>:</span></label>
				<input type="text" id="senderAddr" name="senderAddr" placeholder="" title="" >
			</div>

			<div class="form-control">
				<label class="header">收件人姓名<span>:</span></label>
				<input type="text" id="receiverName" name="receiverName" placeholder="" title="" >
			</div>

			<div class="form-control">
				<label class="header">件人詳細地址<span>:</span></label>
				<input type="text" id="receiverAddr" name="receiverAddr" placeholder="" title="" >
			</div>

			<div class="form-control">
				<label class="header">副本收件人姓名 <span>:</span></label>
				<input type="text" id="ccName" name="ccName" placeholder="" title="" >
			</div>

			<div class="form-control">
				<label class="header">副本收件人詳細地址<span>:</span></label>
				<input type="text" id="ccAddr" name="ccAddr" placeholder="" title="" >
			</div>
		</div>

		<div class="form-wthree2 wthree w3-agileits agileits-w3layouts agile w3-agile">

		</div>
		<div class="clear"></div>
		<div class="form-control">
			<label class="enquiry">內文<span>:</span></label>
			<textarea id="innerText" name="innerText" placeholder="" title=""></textarea>
			<div class="clear"></div>
		</div>
		<div class="form-control last">
			<input type="submit" class="register" value="產生文件">
			<input type="reset" class="reset" value="清空表格">
			<div class="clear"></div>
		</div>
	<% end %>
</div>
<p class="copyright w3layouts w3 w3l agileinfo"> Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
</body>
</html>
